@use './variable' as *;
aside {
    width: 20%;
    // padding-block: 20px;
    border-right: 2px solid $light-grey;
    height: calc(100vh - 90px);

    nav {
        .li {
            display: block;
            padding: 15px 20px;

            &.primary-btn {
                border-radius: 0;
            }

            &.passive {
                color: $grey;

                &:hover {
                    border: 1px solid $light-green;
                }
            }

        }
    }
     @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 2px solid $light-grey;

    nav {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .li {
        flex: 1 1 auto;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}