@use './variable' as *;
.dashboard-main {
    .upload-btn {
        display: none;
    }
    .main-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .controls{
            color: $grey;
            .search-input{
                margin-right: 20px;
                cursor: unset;
                &:focus-visible{
                    outline: 0;
                }
            }
            .filter-select {
                &:focus-visible{
                    outline: 0;
                }
            }
        }
    }

    .table-container {
        overflow-y: auto;
        max-height: 500px;

        .data-table {
            width: 100%;
            text-align: center;
            border: 1px solid $light-grey;

            thead {
                position: sticky;
                top: 0;

                tr {
                    th {
                        background-color: $light-green;
                        color: $white;
                        padding: 10px;
                        border: 1px solid $light-grey;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        border: 1px solid $light-grey;
                        width: 20%;
                        &.filter-logic{
                            text-align: center;
                        }
                    }

                    .view-track {
                        color: $light-green;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}