@use './variable' as *;
.dashboard-main {
    .upload-btn {
        display: none;
    }
    .main-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
        }
        .controls{
            color: $grey;
            @media screen and (max-width:576px) {
                margin-bottom:20px;
            }
            
            .search-input{
                margin: 0 20px 20px 0;
                font-size: 16px;
                cursor: unset;
                
                &:focus-visible{
                    outline: 0;
                }
            }
            .filter-select {
                font-size: 16px;
                &:focus-visible{
                    outline: 0;
                }
            }
        }
    }

    .table-container {
        overflow: auto;
        max-height: calc(100vh - 225px);
        @media screen and (max-width: 1200px) {
           max-height: calc(100vh - 305px);
        }

        .data-table {
            width: 100%;
            text-align: center;
            border: 1px solid $light-grey;

            thead {
                position: sticky;
                top: 0;

                tr {
                    th {
                        background-color: $light-green;
                        color: $white;
                        padding: 10px;
                        border: 1px solid $light-grey;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        border: 1px solid $light-grey;
                        width: 20%;
                        &.filter-logic{
                            text-align: center;
                        }
                    }

                    .view-track {
                        color: $light-green;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}