@use './variable' as *;
.upload-main {
    h1 {
        text-align: center;
    }

    .upload-form {
        padding: 25px;
        max-width: 352px;
        margin: auto;
        width: 100%;
        border: 1px solid $light-grey;
        border-radius: 15px;

        .input-field {
            border: 1px solid $light-grey !important;
            border-radius: 15px !important;

            /* globals.css */
            input[type="date"] {
                &::-webkit-calendar-picker-indicator {
                    filter: invert(0.5);
                    /* make it subtle */
                    cursor: pointer;

                }
            }
        }

        button {
            width: 100%;
        }
    }
}