h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
p{
    font-size: 16px;
}

$black : #000000;
$white : #ffffff;
$dark-green : #004D57;
$light-green : #1ABC9C;
$light-bg: #F5F5F5;
$grey: #666666;
$light-grey : #e5e5e5;

.primary-btn {
    font-size: 16px;
    color: $white;
    background-color: $light-green;
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.secondary-btn{
    font-size: 16px;
    color: $black;
    background-color: $white;
    border: 1px solid $light-green;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.label{
    color: $dark-green;
    text-decoration: underline;
}

.loader{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}