// main.scss
@use './variable' as *;
@use './dashboard';
@use './upload';
@use './view';
@use './header';
@use './aside';
@use './footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/splash_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .login-form {
        border-radius: 15px;
        padding: 25px;
        max-width: 352px;
        width: 100%;
        margin: 25px;
        position: relative;
        z-index: 1;
        color: $white;

        ::before {
            position: absolute;
            content: " ";
            background-color: white;
            inset: 0;
            z-index: -1;
            border-radius: 15px;
            opacity: 0.041;

        }

        .login-head {
            text-align: center;
            margin-bottom: 20px;
        }



        .login-btn {
            width: 100%;
        }
    }
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .input-field {
        position: relative;
        margin-bottom: 15px;

        input {
            padding: 15px 10px;
            border: none;
            width: 100%;
            background-color: $white !important;
            border-radius: 15px;
            color: $black;

            &:focus-visible {
                outline: none;
                box-shadow: 0 4px 10px rgba(0, 77, 87, 0.3), 0 0 0 3px rgba(26, 188, 156, 0.2);
            }
        }

        label {
            position: absolute;
            top: 11px;
            left: 10px;
            color: $grey;
            transition: 0.35s all;
        }

        &.focused {
            label {
                top: 0;
                font-size: 12px;
            }
        }
    }

}

.main-container {
    padding: 25px;
    height: calc(100vh - 90px);
}

// .dashboard-main {
//     .upload-btn {
//         display: none;
//     }
//     .main-header{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .controls{
//             color: $grey;
//             .search-input{
//                 margin-right: 20px;
//                 cursor: unset;
//                 &:focus-visible{
//                     outline: 0;
//                 }
//             }
//             .filter-select {
//                 &:focus-visible{
//                     outline: 0;
//                 }
//             }
//         }
//     }

//     .table-container {
//         overflow-y: auto;
//         max-height: 500px;

//         .data-table {
//             width: 100%;
//             text-align: center;
//             border: 1px solid $light-grey;

//             thead {
//                 position: sticky;
//                 top: 0;

//                 tr {
//                     th {
//                         background-color: $light-green;
//                         color: $white;
//                         padding: 10px;
//                         border: 1px solid $light-grey;
//                     }
//                 }
//             }

//             tbody {
//                 tr {
//                     td {
//                         padding: 10px;
//                         border: 1px solid $light-grey;
//                         width: 20%;
//                         &.filter-logic{
//                             text-align: center;
//                         }
//                     }

//                     .view-track {
//                         color: $light-green;
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//     }
// }

// .upload-main {
//     h1 {
//         text-align: center;
//     }

//     .upload-form {
//         padding: 25px;
//         max-width: 352px;
//         margin: auto;
//         width: 100%;
//         border: 1px solid $light-grey;
//         border-radius: 15px;

//         .input-field {
//             border: 1px solid $light-grey !important;
//             border-radius: 15px !important;

//             /* globals.css */
//             input[type="date"] {
//                 &::-webkit-calendar-picker-indicator {
//                     filter: invert(0.5);
//                     /* make it subtle */
//                     cursor: pointer;

//                 }
//             }
//         }

//         button {
//             width: 100%;
//         }
//     }
// }

// .view-main {
//     height: calc(100% - 30px);
//     width: 100%;
//     background-color: #ffffff;
//     border-radius: 15px;
//     box-shadow: 0 0 8px rgba(184, 184, 184, 0.7), 0 0 15px rgba(184, 184, 184, 0.5);
//     padding: 20px;

//     .view-content {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         margin-top: 20px;
//         gap: 20px;

//         .view-card {
//             display: flex;
//             align-items: center;
//             gap: 10px;
//             border-radius: 15px;
//             background-color: $light-bg;
//             padding: 20px;

//             .icon {
//                 font-size: 24px;
//             }

//             .card-title {
//                 font-size: 20px;
//                 color: $grey;
//             }

//             .card-detail {
//                 font-size: 24px;
//             }

//             .status {
//                 display: inline-block;
//                 padding: 6px 8px;
//                 font-size: 24px;
//                 border-radius: 15px;
//             }
//         }
//     }

//     .back-btn {
//         display: flex;
//         justify-content: center;
//         margin-top: 25px;
//         .primary-btn{
//             padding: 15px 30px;
//         }
//     }
// }